.updates-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.logoutbtn button{
    position: absolute;
    right: 10%;

    height: 2rem;
    background-color: #E02F2F;
    outline: none;
    border: none;
    border-radius: 5px;
    color : white;
    cursor: pointer;
    transition: 1s;
}
.logoutbtn button:hover{
    background-color: #bd2929;
}